body {
    background-color: dimgrey;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#menu li {
    list-style: none;
    width: 100px;
    height: 50px;
    list-style: none;
    text-align: center;
    background-color: lightgray;
    border-radius: 25px;
    display: grid;
}

#presentacion {
    margin: 100px;
    text-align: left;
    display: flex;
}

#textoPresentacion {
    margin-left: 100px;
}

#softwares,
#portafolio {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}

#softwares li {
    width: 100px;
    height: 100px;
    list-style: none;
    text-align: center;
    display: grid;
    background-color: cornflowerblue;
    border-radius: 25px;
}

#portafolio li {
    width: 300px;
    height: 200px;
    list-style: none;
    text-align: center;
    background-color: lightgray;
    border-radius: 25px;
    display: grid;
}

#infoContacto {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    margin-bottom: 30px;
}

#infoContacto li {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer,
section {

    background-color: cadetblue;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    background-image: radial-gradient(circle at left, lightcyan, cadetblue);

}