h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}
#tabla {
    display: flex;
;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
div {
    height: 50px;
    width: 50px;
    background-color: #f0f0f0;
    border: 5px solid black;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#tablaNum {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}
#tablaABC {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}